<div id="forecast-container">
    <div class="styled-div">Humidity: {{humidity}}</div>    
    <div class="styled-div">Rain: {{rain}}</div>    
    <div class="styled-div">Wind: {{wind}}</div>    
</div>